[submodule "/Users/mauricevandermerwe/Projects/Negishi/ai-team/repos/negishi-freelancing"]
	path = /Users/mauricevandermerwe/Projects/Negishi/ai-team/repos/negishi-freelancing
	url = https://github.com/ZuseSystems/negishi-freelancing.git
